<mat-card>
<form class="example-form">
<div class="example-container">

  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Kullanıcı Adı">
    <mat-icon matSuffix> perm_identity </mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Şifre">
    <mat-icon matSuffix> vpn_key </mat-icon>
  </mat-form-field>

  <div class="button-row">
      <button mat-raised-button color="primary" (click)="logInControl()">Kayıt</button>
  </div>

  <p>Şifremi unuttum</p>

</div>
</form>
</mat-card>
